
<div *ngIf="(isSmall$ | async); then mobile else desktop"></div>

<ng-template #desktop>
    <div fxLayout="row" fxLayoutAlign="space-evenly" fxLayoutGap="25px" class="footer-card-div">
        <mat-card *ngFor="let data of footerData" fxFlex="calc(20%-25px)">
            <mat-card-title>{{ data.title }}</mat-card-title>
            <mat-card-content>
                <mat-nav-list>
                    <a mat-list-item *ngFor="let content of data.content" [routerLink]="content.url">
                        {{ content.heading }}
                    </a>
                </mat-nav-list>
            </mat-card-content>
        </mat-card>
    </div>
</ng-template>

<ng-template #mobile>
    <mat-expansion-panel *ngFor="let data of footerData">
        <mat-expansion-panel-header>
            <mat-panel-title>{{ data.title }}</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
            <a mat-list-item *ngFor="let content of data.content" [routerLink]="content.url">
                {{ content.heading }}
            </a>
        </mat-nav-list>
    </mat-expansion-panel>
</ng-template>
