
<div *ngIf="product" class="main-div">
    <div class="img-div">
        <img [src]="product.imageFullUrl" [alt]="product.name + ' Image'" class="img-full">
    </div>
    
    <mat-card>
            <mat-card-title>{{ product.name }}</mat-card-title>
            <mat-card-content>
                <p *ngFor="let description of product.descriptions">
                    {{ description }}
                </p>
            </mat-card-content>
            <mat-card-actions>
                <h2>{{ product.price | currency }}</h2>
                <div *ngIf="getQuantity() === 0; then buyButton else qtyButton"></div>
                <ng-template #buyButton>
                    <button type="button" class="buy-button" aria-label="add item"
                        (click)="updateQuantity(1)">Add to Cart</button>
                </ng-template>

                <ng-template #qtyButton>
                    <button type="button" class="change-qty-button remove" aria-label="remove item"
                        (click)="updateQuantity(-1)">
                        <mat-icon>remove</mat-icon>
                    </button>
                    <button class="qty-span">{{ getQuantity() }}</button>
                    <button type="button" class="change-qty-button" aria-label="add item" 
                        (click)="updateQuantity(1)">
                        <mat-icon>add</mat-icon>
                    </button>
                </ng-template>
            </mat-card-actions>
    </mat-card>
</div>
