
.sidenav-container {
    padding-top: 5px;
}

.sidenav {
    min-width: 35vw;
    background: white;
    padding: 4px 0 0 5px;
}

.sidenav .mat-list-item, a {
    color: black;
}

.sidenav .mat-toolbar {
    background: rgb(253,184,18);
    display: flex;
    justify-content: flex-end;
    padding: 0 8px;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}  

.sidenav-header {
    background: white;
    color: black;
    display: flex;
    justify-content: space-between;
}

.sidenav-header img {
    vertical-align: middle;
}

.navbar {
    height: 100px;
    max-width: var(--body-max-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    padding: 0 5%;
}

.nav-links {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.nav-links a {
    display: inline-block;
    padding: 40px 10px 0px 10px;
    transition: all 0.3s ease 0s;
    height: 100%;
    width: 100px;
    text-align: center;
}

.nav-links a:hover, .big-cart:hover {
    background-color: var(--mcdonalds-yellow);
}

.big-cart {
    transform: scale(1.5);
}

.white-bg {
    background-color: white;
}

/* mat-badge-properties */
.mat-badge.mat-badge {
    overflow: visible;
}

.mat-badge {
    position: relative;
}
/*************************/
