
.chip-container {
    margin: 20px 50px;
}

.mat-standard-chip {
    border-radius: 20px;
    min-height: 50px;
}

.category {
    text-align: center;
    margin: 20px 0px;
}

.category h2 {
    margin: 70px 0 20px;
    font-size: 35px;
}

@media only screen and (max-width: 959.98px) {
    .category h2 {
        margin: 45px 0 30px;
        font-size: 25px;
    }

    .mat-standard-chip {
        border-radius: 16px;
        min-height: 32px;
    }
}
