
.card-div {
    max-width: var(--body-max-width);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    padding-left: 40px;
}

.mat-card {
    width: 200px;
    margin-top: 50px;
}

.mat-card-title {
    font-size: 20px;
    justify-content: center;
    color: black;
}

@media only screen and (max-width: 599.98px) {
    .card-div {
        gap: 20px;
        justify-content: center;
        padding: 0;
    }

    .mat-card {
        width: 150px;
    }

    .mat-card-title {
        font-size: 16px;
    }
}