
header {
    margin: 8px auto;
    box-shadow: 0px 0px 1px black;
}

.container {
    margin: 8px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    margin-top: 8px;
    padding-bottom: 100px;
    padding-top: 250px;
}
