
.product-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 50px;
    padding-bottom: 20px;
}

.product {
    padding-inline-start: 0px;
    padding: 0px 20px 40px 20px;
}

.product li {
    list-style: none;
}

.product a {
    color: inherit;
}

.product h3 {
    margin-top: 10px;
    font-size: 20px;
}