
.card-div {
    max-width: var(--body-max-width);
    margin: 0 auto;
}

.mat-card {
    margin-top: 50px;
}

.mat-card-title {
    font-size: 20px;
    justify-content: center;
    color: black;
}

@media only screen and (max-width: 599.98px) {
    .card-div {
        justify-content: center;
    }

    .mat-card-title {
        font-size: 16px;
    }
}