
@use '@angular/material' as mat;
// to view mat-cards, mat--dialog and other elements' styles
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@include mat.core();

$my-primary: mat.define-palette(mat.$grey-palette, 50);
$my-accent: mat.define-palette(mat.$amber-palette, 600, 500, A700);
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 )
));

@include mat.core-theme($my-theme);
