/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

h1 {
    text-align: center;
    font-size: 60px;
    margin: 40px 0;
}

p {
    margin: 20px 4px;
}

a {
    cursor: pointer;
    text-decoration: none;
}

button {
    padding: 9px 25px;
    background-color: rgb(253,184,18);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: black;
}

button:hover {
    background-color: rgba(253,184,18, 0.8);
}

.container {
    display: flex;
    margin: 100px auto 32px;
    padding: 0 16px;
    flex-direction: column;
    align-items: center;
}

.footer {
    margin: 200px 0px 100px 0px;
    padding-top: 50px;
    background-color: #fdfffc;
}

.add-button {
    padding: 0;
    margin: 20px 4px 10px 4px;
    width: 50px;
    height: 60px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

/*
form {
    width: 300px;
    height: 40px;
    margin: 0 10px;
}

input {
    width: 100%;
    height: 100%;
    padding: 2px 25px;
    border-radius: 50px;
}
*/

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

/*
@media only screen and (max-width: 550px) {
    
}
*/