/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
    --mcdonalds-yellow: rgb(253, 184, 18);
    --mcdonalds-yellow-hover: rgba(253, 184, 18, 0.8);
    --cart-red: rgb(223, 0, 0);
    --cart-red-hover:rgba(223, 0, 0, 0.8);
    --checkout-disabled: rgba(178, 178, 178, 0.5);
    --body-max-width: 1170px;
    --xs-max-width: 599.98px;
    --sm-max-width: 959.98px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1, h2, h3, h4, h5, h6, p {
    color: black;
}

h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

h1 {
    text-align: center;
    font-size: 60px;
    margin: 40px 0;
}

a {
    cursor: pointer;
    text-decoration: none;
}

button {
    padding: 9px 25px;
    background-color: var(--mcdonalds-yellow);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: black;
    font-weight: 500;
}

button:hover {
    background-color: var(--mcdonalds-yellow-hover);
}

.change-qty-button {
    margin: 0 4px;
    padding: 0;
}

/* Remove box shadow from mat-card elements */
.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: none;
}

/* mat-form-field properties */
.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: rgb(255,255,255);
}

.mat-form-field.mat-focused .mat-form-field-label {
    color: var(--mcdonalds-yellow);
}

.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: var(--mcdonalds-yellow);
}

.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: var(--mcdonalds-yellow);
}

/* mat-snackbar properties */
.mat-snack-bar-container {
    color: rgb(0 0 0);
}

.green-snackbar {
    background: #97ffb6;
}

.red-snackbar {
    background: #ff9797;
}

.mat-simple-snackbar-action {
    color: rgb(0 0 0);
}

.mat-simple-snackbar-action button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* mat-chip properties */
.mat-chip-list-wrapper {
    justify-content: center;
}

.mat-chip-selected {
    background-color: var(--mcdonalds-yellow);
}

/* All */
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

@media only screen and (max-width: 959.98px) {
    h1 {
        font-size: 40px;
    }
}
