
<h2>Confirm Transaction</h2>

<mat-dialog-content>
    <h4>Order Details:</h4>
    <div *ngFor="let cartItem of data.cartItems">
        <p>{{ cartItem.product.name }} ({{ cartItem.quantity }}): {{ cartItem.product.price * cartItem.quantity | currency }}</p>
    </div>

    <p>Estimated Tax: {{ data.tax | currency }}</p> 
    <p class="total">Total: {{ data.totalPrice | currency }}</p> 

    <h4>Payment Details</h4>
    <div>
        <p>Name: {{ name }}</p>
        <p>Phone Number: {{ phone }}</p>
        <p>Credit Card Number: {{ card }}</p>
    </div>
</mat-dialog-content>

<mat-dialog-actions class="seperate">
    <button type="button" aria-label="close dialog" (click)="close()">Back</button>
    <button type="button" aria-label="close dialog" (click)="post()">Ok</button>
</mat-dialog-actions>
