
<div class="background">
    <div class="text-1">
        <h1><span id="yellow">Delicious</span> Double Quarter Pounder®* with Cheese</h1>
        <h3>Try the new Double Quarter Pounder®* with Cheese! Features two quarter pound* 100% fresh beef burger patties that are hot, deliciously juicy and cooked when you order.</h3>
        <a [routerLink]="['/product/6']"><button>Learn More</button></a>
    </div>
</div>

<div class="divider">
    <img src="../assets/images/breakfast.jfif">
    <div class="text-2">
        <h1>It's Breakfast <br><span id="yellow">o' clock!</span></h1>
        <h3>Start your day with McDonald's Breakfast Menu. Fill up with delicious Egg McMuffin® sandwich, golden brown hotcakes and Fruit and Maple Oatmeal.</h3>
        <a [routerLink]="['/menu']"><button>Learn More</button></a>
    </div>
</div>