
<div *ngIf="(isSmall$ | async); then mobile else desktop"></div>

<ng-template #desktop>
<div class="bg-group">
    <div class="left-group">
        <h1><span class="yellow-span">Delicious</span> Double Quarter Pounder®* with Cheese</h1>
        <h3>Try the new Double Quarter Pounder®* with Cheese! Features two quarter pound* 100% fresh beef burger patties that are hot, deliciously juicy and cooked when you order.</h3>
        <a [routerLink]="['/product/6']">
            <button class="big-button" aria-label="learn more">Learn More</button>
        </a>
    </div>
</div>

<div class="grid-group">
    <img src="assets/images/breakfast.jfif">
    <div class="right-group">
        <h1>It's Breakfast <br><span class="yellow-span">o' clock!</span></h1>
        <h3>Start your day with McDonald's Breakfast Menu. Fill up with delicious Egg McMuffin® sandwich, golden brown hotcakes and Fruit and Maple Oatmeal.</h3>
        <a [routerLink]="['/menu']">
            <button class="big-button" aria-label="learn more">Learn More</button>
        </a>
    </div>
</div>
</ng-template>

<ng-template #mobile>
<mat-card>
    <mat-card-title>
        <span class="yellow-span">Delicious</span> Double Quarter Pounder®* with Cheese
    </mat-card-title>
    <mat-card-content>
        Try the new Double Quarter Pounder®* with Cheese! Features two quarter pound* 100% fresh beef burger patties that are hot, deliciously juicy and cooked when you order.
    </mat-card-content>
    <img mat-card-image src="assets/images/home-background.png">
    <mat-card-actions>
        <a [routerLink]="['/product/6']">
            <button aria-label="learn more">Learn More</button>
        </a>
    </mat-card-actions>
</mat-card>

<mat-card>
    <mat-card-title>
        It's Breakfast <span class="yellow-span">o' clock!</span>
    </mat-card-title>
    <mat-card-content>
        Start your day with McDonald's Breakfast Menu. Fill up with delicious Egg McMuffin® sandwich, golden brown hotcakes and Fruit and Maple Oatmeal.
    </mat-card-content>
    <img mat-card-image src="assets/images/breakfast.jfif">
    <mat-card-actions>
        <a [routerLink]="['/menu']">
            <button aria-label="learn more">Learn More</button>
        </a>
    </mat-card-actions>
</mat-card>
</ng-template>
